.centered-text {
  text-align: center;
}
.font {
  font-family: "Victor Mono";
  font-style: normal;
}
.col-2 img {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  align-content: space-around;
}
.col-2 div {
  margin-top: 7px;
}
.col-2 {
  position: relative;
  border: 2px solid transparent;
  border-radius: 16px;
  transition: border-color 0.3s ease-in-out;
  padding-top: 14px;
  padding-bottom: 14px;
}
.col-2:hover {
  border: 2px solid #f2b600;
  border-radius: 16px;
  transition: .3s;
}
.price-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-games-title {
  text-align: start;
  color: #ffffff; /* Пример цвета текста */
  margin-bottom: 20px; /* Расстояние до блока с играми */
}
.container {
  margin-top: 150px;
  margin-left: 30px; /* Центрирование по вертикали */
}
.icons-overlay {
  position: absolute;
  top: 20px; /* Измените это значение, чтобы поднять или опустить блок иконок */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 80%; /* Или другой размер, в зависимости от вашего дизайна */
  opacity: 0; /* Сделать невидимым по умолчанию */
  transition: opacity 0.3s ease; /* Плавное появление */
}
.col-2:hover .icons-overlay {
  opacity: 1;
}
