body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  min-height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "aside-left"
    "aside-right"
    "footer";
}

.header,
.footer,
.aside-right,
.aside-left
{
  background-color: white;
  padding: 20px;
}
.main {
  background-color: gray;
  padding: 20px;
}
.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.main {
  grid-area: main;
}

.aside-left {
  grid-area: aside-left;
}

.aside-right {
  grid-area: aside-right;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 768px) {
  body {
    grid-template-columns: 20% 1fr;
    grid-template-rows: 80px 4fr 1fr 80px;
    grid-template-areas:
      "header header"
      "aside-left main"
      "aside-right aside-right"
      "footer footer";
  }
}

@media screen and (min-width: 1024px) {
  body {
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas:
      "header header header"
      "aside-left main aside-right"
      "footer footer footer";
  }
}

input[type="text"],
input[type="password"],
textarea {
  padding: 10px;
  border-radius: 5px;
  outline: 1px black;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus
{
  outline: 1px green solid;
}


form>div{
    margin: 10px 0;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form>div>label{
   display: block;
   font-weight: 700; 
   margin-bottom: 5px;
}

textarea{
    resize: vertical;
}
